@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Header */
.banner{
    background: url('header.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
    min-height: 50vh;
    padding: 200px 0 200px;
}

.banner-content{
    color: #000;
    position: relative;
    vertical-align: middle;
}

.banner-content span{
    font-size: 1.2vw;
    font-weight:500;
    text-transform: uppercase;
    letter-spacing: 0.1vw;
}

.banner-content h2{
    color: #0085C7;
    font-size: 2.2vw;
    font-weight: 600; 
    text-transform: uppercase;
    letter-spacing: 0.1vw;
    margin-bottom: 0.5px;
}

.banner-content p{
    color: #000;
    font-size: 0.6vw;
    letter-spacing: 0.1vw;
    margin-bottom: 1.6vw;
}

.banner-content .info-btn{
    text-decoration:none;
    padding:0.6vw 1.0vw;
    background-color: #0085C7;
    color: #fff;
    border: 0.2vw;
    font-size: 0.8vw;
    font-weight: 600;
    font-style: bold;
}

.banner-content .info-btn:hover{
    background-color:#F4C300;
    border:0.2vw;
}

/* Jumbotron */
.jumbotron{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    vertical-align: middle;
}

.jumbotron h3{
    color: #000000;
    font-size: 1.5vw;
    font-weight: 600; 
    text-transform: uppercase;
    letter-spacing: 0.1vw;
    margin-bottom: 0.1vs;
}

.jumbotron p{
    color: #000;
    font-size: 0.5vw;
    letter-spacing: 0.1vw;
    margin-bottom: 0.1vw;
}

/* Table */

.historytable{
        border-collapse: collapse;
        margin: 2vw 0;
        font-size: 0.9em;
        min-width: 40vw;
        border-radius: 0.4vw 0.4vw 0 0;
        overflow: hidden;
        height: 12.5vw;
        box-shadow: 00 0.7vw rgba(0,0,0,0.15);
    }
    tr{
        padding: 0.9vh 1vw;
        text-align: center;
        border-bottom: 0.01vw solid #dddddd;
    }
    tr:nth-of-type(even){
        background-color:#f3f3f3;
    }
    tr:last-of-type{
        border-bottom: 0.3vw solid #F4C300;
    }
    th {
        padding: 0.9vh 1vw;
        text-align: center;
        background-color: #F4C300;
        color: #ffffff;
        font-weight: bold
    }
    td {
        padding: 0.9vh 1vw;
    }

.medalsscroll {
    overflow:scroll;
    height:71.4vh;
}

.medalsscroll table {
    width:100%;
}

.tokyoscroll {
    overflow:scroll;
    height:37.6vh;
}

.tokyoscroll table {
    width:100%;
}

.highlight {
    background-color: #DF0024;
}

/* Input */
input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding:0.6vw;
    border-radius: 0.4vw;
    width: 9vw;
}

input:focus::placeholder {
    color: transparent;
}

input::placeholder {
    color:#222;
    transition: color 0.3s ease;
}

/* Button */
.btn {
    text-decoration: none;
    padding: 1.5vh 7.6vw;
    font-size: 1.25rem;
    position: relative;
    margin: 1.2vw;
    background: #0085C7;
    color: white;
    border-radius: 1.5vw;
    transition: transform 0.3s ease;
}

.btn::after, .btn::before{
    content: "";
    position: absolute;
    opacity: 0.3;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    transition: transform 0.3s ease;
}

/* Bar Plot */
#bar-plot {
    height: 75vh;
}

/* Bar Plot */
#bubble {
    height: 75vh;
}

/* Map */
#mapid { height: 60vh; }